@model Tamanho

<div class="col-sm-8">
    <h2>Selecione o Tamanho</h2>
    <table style="margin-bottom:15px;margin-top:15px"
           class="table table-hover table-striped">
        <thead>
            <tr class="table-active">
                <th>Tamanho</th>
                <th>Preço</th>
                <th>Quantiade Sabores</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tamanho item in ViewBag.ListaTamanho)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Preco</td>
                    <td>@item.QtdSabores</td>
                    <td class="text-right">
                        <a class="btn btn-success" asp-action="TamanhoSelecionar" asp-route-id="@item.TamanhoId">Selecionar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-4">
    <h2>Registrar Tamanho</h2>
    <form asp-action="Index" method="post">
        <fieldset>
            <legend>Cadastrar Produto</legend>
            <div asp-validation-summary="ModelOnly" class="text-primary"></div>

            <div class="form-group" id="Nome">
                <label>Nome</label>
                <input type="text" asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group" id="Preco">
                <label>Preço</label>
                <input type="text" asp-for="Preco" class="form-control" />
            </div>
            <div class="form-group" id="QtdSabores">
                <label>Quantidade De Sabores</label>
                <select class="form-control" name="drpQntdSabores">
                    <option> -- SELECIONE -- </option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <input type="submit" class="btn btn-success" value="Cadastrar" />
        </fieldset>
    </form>
</div>
<div class="col-sm-8">
    <h2>Selecioner os Sabores</h2>
    <table style="margin-bottom:15px;margin-top:15px"
           class="table table-hover table-striped">
        <thead>
            <tr class="table-active">
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Sabor item in ViewBag.ListaSabor)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td class="text-right">
                        <a class="btn btn-success" asp-action="SaborSelecionar" asp-route-id="@item.SaborId">Selecionar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-sm-8">
    <h2>Bebidas registrados</h2>
    <table style="margin-bottom:15px;margin-top:15px"
           class="table table-hover table-striped">
        <thead>
            <tr class="table-active">
                <th>Nome</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Bebida item in ViewBag.ListaBebida)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Preco</td>
                    <td class="text-right">
                        <a class="btn btn-success" asp-action="BebidaSelecionar" asp-route-id="@item.BebidaId">Selecionar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>